@import '@/assets/components.scss';
.markdown-theme {
  table {
    display: table;
    font-size: 13px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: $border-solid;
    width: 100%;
    margin-bottom: 24px;

    th {
      font-family: inherit;
      font-size: inherit;
      background: $module-bg;
      white-space: nowrap;
      font-weight: 600;
      border: $border-solid;
      padding: 8px 16px;
    }

    td {
      border: $border-solid;
      padding: 8px 16px;
    }
  }

  img {
    max-width: 100%;
    max-width: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 2px;
    opacity: 0.9;
  }
  p {
    line-height: 2.2em;
    margin-bottom: 1em;
  }
  blockquote {
    padding: 1em;
    color: $text-secondary;
    border-left: 5px solid $md-quote-border;
    background: $md-quote;
    p {
      margin-bottom: 0;
    }
  }
  a {
    color: $primary !important;
  }
  ul {
    padding-left: 20px !important;
    list-style: square !important;
  }
  ul,
  ol {
    > li {
      list-style: square !important;
      line-height: 1.8em;
      padding: 0.5em 0.8em;

      &:hover {
        background-color: $module-hover-bg;
      }

      > p {
        text-indent: 0;
      }

      > ul {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    color: $md-title;
  }

  h1 {
    font-weight: 700;
    margin: 1em 0;
  }

  h2 {
    font-weight: 700;
    margin: 1em 0;
  }

  h3 {
    font-weight: 600;
    margin: 1em 0;
  }

  h4 {
    font-weight: 500;
    margin: 1em 0;
  }

  h5 {
    font-weight: 500;
    margin: 1em 0;
  }

  h6 {
    font-weight: 400;
    margin: 1em 0;
  }
  & > pre {
    display: block;
    color: white;
    overflow-x: auto;
    background: #282c34 !important;
    padding: 14px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative;
    & > code {
      display: block;
      color: #a6e22e;
      overflow-x: auto;
      font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
        monospace !important;
      font-size: 14px;
      line-height: 1.5;
    }
  }
  del {
    text-decoration: line-through;
  }
  p {
    font-size: 14px;
    code {
      background-color: $body-bg;
      padding: 3px 4px;
      border-radius: 4px;
      color: $keyword;
    }
  }
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  color: #a6e22e;
  overflow-x: auto;
  background: #282c34 !important;
  border: none !important;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace !important;
  padding: 1em !important;
  font-size: 14px !important;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #66d9ef;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}
